extends layout
block content
  .container
      .page-header
        h1 Facedash
        p.lead
          | Start Analysing your Data Here
          a(href='/auth/facebook') Login
      .row
        .col-md-6
          h3 Friends Count 
          p.big #{friendsCount}

        .col-md-6
          h3 Average Age
            span.label.label-default #{averageAgeAccuracy}%
          p.big #{averageAge}
      
      .row
        .col-md-6
          h3 Location
            span.label.label-default #{sameLocationAccuracy}%
          ul.list-group
            li.list-group-item
              span.badge #{sameLocationCount}
              span.badge #{sameLocationPerc}%
              | #{userLocationName}

        .col-md-6
          h3 Hometown
            span.label.label-default #{sameHometownAccuracy}%
          ul.list-group
            li.list-group-item
              span.badge #{sameHometownCount}
              span.badge #{sameHometownPerc}%
              | #{userHometownName}

      .row
        .col-md-6
          h3 Ratio
          canvas#myChart(width='300', height='300')
          ul.list-group
            li.list-group-item
              span.badge #{maleCount}
              span.badge #{malePerc}%
              | Male Count

            li.list-group-item
              span.badge #{femaleCount}
              span.badge #{femalePerc}%
              | Female Count

            li.list-group-item
              span.badge #{otherGenderCount}
              span.badge #{otherGenderPerc}%
              | Other Count
        
        .col-md-6
          h3 Relationship Status
              span.label.label-default #{friendsRstatusAccuracy}%
          ul.list-group
            li.list-group-item
              span.badge #{single}
              span.badge #{singlePerc}%
              | Single
            li.list-group-item
              span.badge #{inArelationship}
              span.badge #{inArelationshipPerc}%
              | In a Relationship
            li.list-group-item
              span.badge #{engaged}
              span.badge #{engagedPerc}%
              | Engaged
            li.list-group-item
              span.badge #{married}
              span.badge #{marriedPerc}%
              | Married
            li.list-group-item
              span.badge #{civilUnion}
              span.badge #{civilUnionPerc}%
              | In a civil Union
            li.list-group-item
              span.badge #{domesticPartnership}
              span.badge #{domesticPartnershipPerc}%
              | In a domestic partnership
            li.list-group-item
              span.badge #{openRelationship}
              span.badge #{openRelationshipPerc}%
              | In an open relationship
            li.list-group-item
              span.badge #{complicated}
              span.badge #{complicatedPerc}%
              | It's complicated
            li.list-group-item
              span.badge #{separated}
              span.badge #{separatedPerc}%
              | Separated
            li.list-group-item
              span.badge #{divorced}
              span.badge #{divorcedPerc}%
              | Divorced
            li.list-group-item
              span.badge #{widowed}
              span.badge #{widowedPerc}%
              | Widowed
      
  script.
      var ctx = document.getElementById("myChart").getContext("2d");
      var data = [{value: #{femaleCount},color:"#e7e7e7"},{value : #{maleCount},color : "#E0E4CC"},{value : #{otherGenderCount},color : "#eeeeee"}]
      new Chart(ctx).Pie(data);